//colors
$black: black;
$white:  white;
$color_sail_approx: #b3d4fc;
$color_pampas_approx: #f5f2f0;
$slate_gray: slategray;
$color_mountain_mist_approx: #999;
$color_cardinal_pink_approx: #905;
$color_limeade_approx: #690;
$color_barley_corn_approx: #a67f59;
$white_50: hsla(0, 0%, 100%, .5);
$color_deep_cerulean_approx: #07a;
$color_cabaret_approx: #dd4a68;
$color_california_approx: #e90;
$color_celeste_approx: #cfcfcf;

//fonts
$font_0: Consolas;
$font_1: Monaco;
$font_2: Andale Mono;
$font_3: monospace;

//@extend-elements
//original selectors
//code[class*="language-"], pre[class*="language-"]
%extend_1 {
	color: $black;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px $white;
	font-family: $font_0, $font_1, $font_2, $font_3;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	//Instead of the line below you could use @includeword-break($value)
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	//Instead of the line below you could use @includehyphens($value)
	hyphens: none;
}


code[class*="language-"] {
	@extend %extend_1;
	&::-moz-selection {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		background: $color_sail_approx;
	}
	: {
		&:-moz-selection {
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			background: $color_sail_approx;
		}
		&:selection {
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			background: $color_sail_approx;
		}
	}
	&::selection {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		background: $color_sail_approx;
	}
}
pre[class*="language-"] {
	@extend %extend_1;
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background: $color_pampas_approx;
	&::-moz-selection {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		background: $color_sail_approx;
	}
	: {
		&:-moz-selection {
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			background: $color_sail_approx;
		}
		&:selection {
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
			background: $color_sail_approx;
		}
	}
	&::selection {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
		background: $color_sail_approx;
	}
}
@media print {
	code[class*="language-"] {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
	pre[class*="language-"] {
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none;
	}
}
.token {
	&.comment {
		color: $slate_gray;
	}
	&.prolog {
		color: $slate_gray;
	}
	&.doctype {
		color: $slate_gray;
	}
	&.cdata {
		color: $slate_gray;
	}
	&.punctuation {
		color: $color_mountain_mist_approx;
	}
	&.property {
		color: $color_cardinal_pink_approx;
	}
	&.tag {
		color: $color_cardinal_pink_approx;
	}
	&.boolean {
		color: $color_cardinal_pink_approx;
	}
	&.number {
		color: $color_cardinal_pink_approx;
	}
	&.constant {
		color: $color_cardinal_pink_approx;
	}
	&.symbol {
		color: $color_cardinal_pink_approx;
	}
	&.deleted {
		color: $color_cardinal_pink_approx;
	}
	&.selector {
		color: $color_limeade_approx;
	}
	&.attr-name {
		color: $color_limeade_approx;
	}
	&.string {
		color: $color_limeade_approx;
	}
	&.char {
		color: $color_limeade_approx;
	}
	&.builtin {
		color: $color_limeade_approx;
	}
	&.inserted {
		color: $color_limeade_approx;
	}
	&.operator {
		color: $color_barley_corn_approx;
		background: $white_50;
	}
	&.entity {
		color: $color_barley_corn_approx;
		background: $white_50;
		cursor: help;
	}
	&.url {
		color: $color_barley_corn_approx;
		background: $white_50;
	}
	&.atrule {
		color: $color_deep_cerulean_approx;
	}
	&.attr-value {
		color: $color_deep_cerulean_approx;
	}
	&.keyword {
		color: $color_deep_cerulean_approx;
	}
	&.function {
		color: #DD4A68;
	}
	&.regex {
		color: $color_california_approx;
	}
	&.important {
		color: $color_california_approx;
		font-weight: bold;
	}
	&.variable {
		color: $color_california_approx;
	}
}
.namespace {
	opacity: .7;
}
pre[class*='language-'] {
	position: relative;
	> code[data-language] {
		overflow: scroll;
		max-height: 28em;
		display: block;
		&::before {
			content: attr(data-language);
			color: $black;
			background-color: #CFCFCF;
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0.9em;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 0 0 0 5px;
			padding: 0 0.5em;
			//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
		}
	}
}
:not (pre) > code[class*="language-"] {
	background: $color_pampas_approx;
	padding: .1em;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: .3em;
}
.language-css .token.string {
	color: $color_barley_corn_approx;
	background: $white_50;
}
.style .token.string {
	color: $color_barley_corn_approx;
	background: $white_50;
}